/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 91%);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.gastenboek-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: #2196F3; */
    grid-gap: 50px 100px;
    padding: 10px;
}

main h1 {
    font-size: 66px;
    text-align: center;
    padding-bottom: 40px;
}

.gastenboek-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 16px;
    text-align: center;
    /* max-width: 60%; */
    height: auto;
    overflow: auto;
}


.naam {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 2px;
}

.tijd {
    font-size: 0.95rem;
    padding-bottom: 10px;
}

.color_white {
    color: white;
}

@media screen and (max-width: 1024px) {

    .gastenboek-list {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}

@media screen and (max-width: 745px) {

    .gastenboek-list {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}

@media screen and (max-width: 345px) {

    main h1 {
        font-size: 45px;
    }
}